@model ASPNetCoreApp.Models.Country
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Country</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Continent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Continent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurfaceArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurfaceArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndepYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndepYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LifeExpectancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LifeExpectancy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gnp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gnp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gnpold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gnpold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GovernmentForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GovernmentForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadOfState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadOfState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code2)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Code" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
